/*
	COLORS:
	Light brown: rgb(173, 75, 75)
	Light yellow: rgb(249, 250, 198)
	Dark grey: #333
*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	backface-visibility: hidden;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;	
}

h1 {
	padding: 15px 30px;
	font-size: 200%;
}

p {
	padding: 15px;
	padding-top: 0px;
}

a {
	text-decoration: none;
	font-size: 20px;
	border-radius: 5px;
	color: rgb(249, 250, 198); /*Light yellow*/
	transition: color 0.3s,background-color 0.3s;
}

a:hover {
	background-color: rgb(249, 250, 198); /*Light yellow*/
	border-radius: 5px;
	color: rgb(173, 75, 75); /*Light brown*/
}

a:visited {
	color:blue;
}

li {
	list-style-type: none;
}

.container {
	max-width: 90%;
	margin: 0 auto;
}

#acads, #intrsts, #achvmnts, #contct {
	margin: 30px 0px;
}

/* Nav bar */ 
#nav {
	position: fixed;
	background-color: rgb(173, 75, 75); /*Light brown*/
	width: 100%;
	height: 7vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom: 2px solid rgb(249, 250, 198); /*Light yellow*/
}

.nav-logo {
	letter-spacing: 5px;
	text-transform: uppercase;
	color: rgb(249, 250, 198);
	padding: 0px;
}

.nav-links {
	display: flex;
	width: 60%;
	color: rgb(249, 250, 198); /*Light yellow*/
	justify-content: space-around;
	font-size: 200%;
	letter-spacing: 2px;
	padding-bottom: 5px;
}

/* Intro section */
#intro {
	background-image: url("images/mountains.png");
	background-size: cover;
	height: 100vh;
}

.intro-contents {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.intro-img {
	border-radius: 50%;
	margin-top: 20vh;
}

.intro-contents-main {
	border-radius: 1em;
	border:2px solid red;
	margin: 2em 1em;
	padding: 20px;
	color: rgb(249, 250, 198);
	font-size: 1.5em;
}

/* Acads section */
.acads-content {
	background-color: grey;
	border-radius: 3em;
}

/* Interests section */
.intrsts-content{
	background-color: red;
	border-radius: 3em;
} 

/* Achievements section */
.achvmnts-content{
	background-color: pink;
	border-radius: 3em;
} 

/* Contact section */
.contct-content{
	background-color: white;
	height: 150px;
} 

.contct-content h1 {
	text-align: center;
}

#social {
	display: flex;
	justify-content: space-around;
}

#social li .fa {
	font-size: 1.5em;
	line-height: 1.5em;
	transition: color 0.3s, background-color 0.3s;
	color: #000;
}

#social li .fa:hover {
	color: #fff;
}

#social li a {
	display: block;
	width: 2.5em;
	height:2.5em; 
	border-radius: 1em;
	text-align: center;
	border-radius: 50%;
	box-shadow: 0 0.3em 0.2em rgba(0, 0, 0, 0.5);
}

#social li a:hover {
	transform: translateY(-0.5em);
	cursor: grab;
}

#social li:nth-child(1) a:hover {
	background-color: #3b5999;
}

#social li:nth-child(2) a:hover {
	background-color: #b23121;
}

#social li:nth-child(3) a:hover {
	background-color: #f1502f;
}

/* Footer section */
#footer {
	width: 100%;
	height: 7vh;
	background-color: #333;
	color: white;
}

#footer p {
	text-align: center;
	padding-top: 1em;
}

 